/* --------------------------Utility--------------------------- */
:root {
  --page-background-color: #ffffff;
  --body-text-color: #434455;
  --title-section-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --light-mode-color: #f4f4fd;
  --accent-botton-color: #e7e9fc;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  outline: 2px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background-color: var(--page-background-color);
  color: var(--body-text-color);
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.underline {
  text-decoration: none;
}
.accent {
  color: var(--primary-brand-color);
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-section-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ---------------- The head of the page--------------- */
.rows,
.naw-row {
  display: flex;
}
.rows {
  border-bottom: 1px solid var(--accent-botton-color);
}
.logo {
  margin-right: 76px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-section-color);
}

.site-nav {
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  color: var(--title-section-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.address-items .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  color: var(--body-text-color);
}
.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}
.link.current {
  color: var(--pressed-state-color);
}
.address-items {
  display: flex;
}

.address-items .item:not(:last-child) {
  margin-right: 40px;
}

.address {
  margin-left: auto;
}

/*------------------ Hero section-------------------------*/
.hero {
  background-color: var(--title-section-color);
  text-align: center;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--page-background-color);
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.button-hero {
  align-items: center;
  padding: 16px 32px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--page-background-color);
  background-color: var(--primary-brand-color);
  letter-spacing: 0.04em;

  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--pressed-state-color);
}
.dark-bg {
  padding: 188px 0;
}
/*-------------------- Section advantages--------------------- */
.advantages {
  margin-bottom: 120px;
}
.advantages .title {
  letter-spacing: 0.02em;
  color: var(--title-section-color);
  margin-bottom: 8px;
}
.string {
  display: flex;
  justify-content: space-between;
}
.string .item {
  width: 264px;
}

/*----------------------Section activities----Section our team------------------ */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-section-color);
  margin-bottom: 72px;
}
.series {
  display: flex;
  justify-content: space-between;
}
.item-image {
  display: block;
}

/*----------------------------- Section our team ------------------------------------*/
.section-team {
  background-color: var(--light-mode-color);
}
.cards {
  background-color: var(--page-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-img {
  display: block;
  margin-bottom: 32px;
}
.section-team .title {
  margin-bottom: 8px;
}
.section-team .text {
  padding-bottom: 32px;
}
.team {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
/*----------------------------- Saction Portfolio ---------------------------------- */
.button-filtr .filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  border: 1px solid var(--accent-botton-color);
  cursor: pointer;
  background-color: var(--light-mode-color);
}
.filtr:hover,
.filtr:focus {
  color: var(--page-background-color);
  background-color: var(--pressed-state-color);
  border-color: transparent;
}
.projects .text {
  color: var(--body-text-color);
}
/*--------------------------- Footer------------------------------ */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .logo {
  color: var(--light-mode-color);
  margin-bottom: 16px;
  line-height: 1.17;
  padding: 0;
  width: 264px;
}
.footer .text {
  color: var(--accent-botton-color);
  width: 264px;
}
.footer {
  background-color: var(--title-section-color);
}
